<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scoopz.share">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="Scoopz"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <intent-filter android:priority="999">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:scheme="https" android:host="vt.tiktok.com" />
                <data android:scheme="https" android:host="vm.tiktok.com" />
                <data android:scheme="https" android:host="www.tiktok.com" />
            </intent-filter>

        </activity>
    </application>
</manifest>